.txt {
    position: relative;
    color: brown
}

.row {
    height: 40px;
    margin: 5px;
}

.row1 {
    height: 40px;
    background-color: antiquewhite;
    margin: 5px;
}

.image {
    opacity: 0.5;
}

.Examples {
    height: 150px;
    background-color:coral;
    margin: 5px;
}

.newcube {
    height: 30px;
    background-color:brown;
    margin: 5px;
}