

/*#text1{
	transform: translateX(-1000%,-1000%);
	background-color: aqua;

}
*/

.container1{
	padding-top: 100px;
	margin-bottom: 100px;	
}

.col-2{
padding-right: 100px;
}

.container2{
	padding-top: 100px;
	margin-bottom: 100px
}

.container3{
	padding-top: 100px;
	margin-bottom: 100px
}


.container4{
	padding-top: 100px;
	margin-bottom: 100px
}


.container5{
	padding-top: 100px;
	margin-bottom: 100px
}

.container6{
	padding-top: 100px;
	margin-bottom: 100px
}

.container7{
	padding-top: 100px;
	margin-bottom: 100px
}


.container8{
	padding-top: 100px;
	margin-bottom: 100px
}


.container9{
	padding-top: 100px;
	margin-bottom: 100px
}

.container10{
	padding-top: 100px;
	margin-bottom: 100px
}

.container11{
	padding-top: 100px;
	margin-bottom: 100px
}

.container12{
	padding-top: 100px;
	margin-bottom: 100px
}

.container13{
	padding-top: 100px;
	margin-bottom: 100px
}

.container14{
	padding-top: 100px;
	margin-bottom: 100px
}

.container15{
	padding-top: 100px;
	margin-bottom: 100px
}

.container16{
	padding-top: 100px;
	margin-bottom: 100px
}

.container17{
	padding-top: 100px;
	margin-bottom: 100px
}

.container18{
	padding-top: 100px;
	margin-bottom: 100px
}

.container19{
	padding-top: 100px;
	margin-bottom: 100px
}

.container20{
	padding-top: 100px;
	margin-bottom: 100px
}

.container21{
	padding-top: 100px;
	margin-bottom: 100px
}

.container22{
	padding-top: 100px;
	margin-bottom: 100px
}
.container23{
	padding-top: 100px;
	margin-bottom: 100px
}

.container20{
	padding-top: 100px;
	margin-bottom: 100px
}

.container21{
	padding-top: 100px;
	margin-bottom: 100px
}

.container22{
	padding-top: 100px;
	margin-bottom: 100px
}

.container23{
	padding-top: 100px;
	margin-bottom: 100px
}

.container24{
	padding-top: 100px;
	margin-bottom: 100px
}