

#text1{
	transform: translateX(-1000%,-1000%);
	background-color: aqua;

}

.container1{
	padding-top: 100px;
	margin-bottom: 100px;	
}

.col-2{
padding-right: 100px;
}

.container2{
	padding-top: 100px;
	margin-bottom: 100px
}













